<h1 class="text-center">投稿一覧</h1>
<hr>

 <% @events.each do |event| %>
 <div class= "posts-index-item">
  <div class="posts-left">
   <%= image_tag event.user.image.to_s, class: "users-image" %>
  </div>
  <div class="posts-right">
    名前:<%= link_to event.user.name, user_path(event.user_id) %>
   </div> 
     <div class="posts-middle">
      投稿内容:<%= link_to event.content, event_path(event.id), class: "posts-content" %>
     </div>
     <div class="posts-bottom" >
  <% if event.image.present? %>
      <%= image_tag event.image.to_s, class: "posts-image" %>
  <% end %>
     </div>
     </div>
 <% end %>