<h1 class="text-center">投稿一覧</h1>
<hr>

 <% @posts.each do |post| %>
 <div class= "posts-index-item">
  <div class="posts-left">
   <%= image_tag post.user.image.to_s %>
  </div>
  <div class="posts-right">
    <%= link_to post.user.name, user_path(post.user_id) %>
   </div> 
     <div class="posts-middle">
      <%= link_to post.content, post_path(post.id) %>
     </div>
     <div class="posts-bottom" >
      <%= image_tag post.image.to_s %>
     </div>
     </div>
 <% end %>