/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self.
 *= require font-awesome
 */
 
 
 
 
.my-page{
    margin-top: 50px;
}



.ul, li{
    list-style-type: none;
}

.number-alarm{
    color: red;
}


.posts-index-item{
　padding: 20px 30px;
　overflow: hidden;
　background-color: white;
　
}

.posts-left{
    float: left;
    width: 10%;
}

.posts-right{
    padding : 25px 25px 25px 0px;
  
}

.posts-bottom {
    
}

.posts-image {
    width: 30%;
    height: 10%;
}

.posts-middle {
   padding : 25px 25px 70px 25px; 
}

.posts-content {
    margin-left: 25px;
}

.post-show-item {
 background-color: #fff;
 margin: 40px auto;
 width:500px;
}

.post-show-image{
    
}

.item-name {
    margin: 20px 0px 50px 0px;
}



.user-name {
    font-size: 20px;
}


.post-show-item1{
    
}

.post-show-content{
    
}


.post-tim{
    
}


.post-show-item2{
    
}

.post-title2{
    
}

.post-show-content2{
    
}

.post-time{
    
}

.form-error {
  color: #ff4d75;
}

.form-body{
    padding: 30px;
}

.my-form {
    width: 500px;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.posts-index-item {
   background-color: white;
   padding: 20px 30px;
   overflow: hidden;
   box-shadow: 0 2px 6px #c1ced7;
}

.like-btn {
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}



.posts-edit-imag {
    padding: 50px;
}

.chat {
    background-color: #F5F5F5;
    margin: 40px auto;
    width:500px;
}

.chat-h {
    padding-top: 30px;
}

chat img {
    width: 10px;
}






.user {
  width: 100px ;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.users-show {
  
}

.users-image {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-show-btn {
    
}

 
 
.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs a {
  display: inline-block;
  padding: 30px;
  padding: 16px 30px;
}

.user-tabs li.active a {
    color: #57575f;
}

.user-tabs li.active {
    border-bottom: 2px solid #3ecdc6;
}

.content-box {
    padding-bottom: 70px;
    box-shadow: 0 2px 6px #c1ced7;
}
